In [1]:
# List of High schools
high_schools = ["Hernandez High School", "Figueroa High School",
               "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_school_types in high_school_types:
    print(high_school_types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [4]:
import pandas as pd

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
print(school_series)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [9]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [10]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [11]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
highschool_df = pd.DataFrame()
highschool_df = pd.DataFrame(high_schools_dict)
highschool_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [14]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [15]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [3]:
class Cat:
    def __init__(self, name):
        self.name = name

In [4]:
first_cat = Cat("Felix")
print(first_cat.name)

Felix

In [5]:
second_cat = Cat("Garfield")
print(second_cat.name)

Garfield

In [6]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [7]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [8]:
second_dog = Dog('Lady', 'blonde', 'arf!')
(print)(second_dog.name)
(print)(second_dog.color)
second_dog.bark()

Lady
blonde

'arf! arf!'

In [36]:
class human:
    
    def __init__(self, name, state, gender, sound, pronoun):
        self.name = name
        self.state = state
        self.gender = gender
        self.sound = sound
        self.pronoun = pronoun
        
    def laugh(self):
        return self.sound + ' ' + self.sound
    def test(self):
        return self.name + 'I am' + self.gender

In [40]:
human_1 = human('Gray', 'Oregon', 'NonBinary', 'hebehebe')
print(human_1.name)
print(human_1.state)
print(human_1.gender)

human_1.laugh()

Gray
Oregon
NonBinary

'hebehebe hebehebe'